{% extends "layout.html" %}

{% block title %}Dosya Ekle{% endblock %}

{% block content %}
<header>
    <div class="header-left">
        <h1>Dosya Ekle</h1>
    </div>
</header>
<div class="form-container">
    <form method="POST" class="add-file-form">
        <div class="input-group">
            <label for="file-type">Dosya Türü</label>
            <select id="file-type" name="file-type" required>
                <option value="hukuk">Hukuk</option>
                <option value="ceza">Ceza</option>
                <option value="icra">İcra</option>
            </select>
        </div>
        <div class="input-group">
            <label for="year">Yıl</label>
            <input type="number" id="year" name="year" required>
        </div>
        <div class="input-group">
            <label for="case-number">Esas No</label>
            <input type="text" id="case-number" name="case-number" required>
        </div>
        <div class="input-group">
            <label for="client-name">Müvekkil Adı</label>
            <input type="text" id="client-name" name="client-name" required>
        </div>
        <button type="submit">Ekle</button>
    </form>
</div>
{% endblock %}