{% extends "layout.html" %}

{% block title %}Duyurular{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST">
            <div class="input-group">
                <label for="title">Başlık</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="input-group">
                <label for="content">İçerik</label>
                <textarea id="content" name="content" required></textarea>
            </div>
            <button type="submit">Ekle</button>
        </form>
    </div>
    <div class="announcement-board">
        {% for announcement in announcements %}
            <div class="post-it">
                <h3>{{ announcement.title }}</h3>
                <p>{{ announcement.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}